
  <tfoot>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.quantity %></td>
    <td> <%= product.price %></td>
    <td> <%= product.category.name %></td>
    <td><%= product.unit_type.name %></td>
  </tr>
  </tfoot>
